<table class="table table-bordered table-hover">
	<thead class="table__header">
		<tr class="table__row">
			<th class="table__row-header">Id</th>
			<th class="table__row-header">Name</th>
			<th class="table__row-header">Email</th>
			<th class="table__row-header">Role</th>
			<th class="table__row-header">Moderator</th>
			<th class="table__row-header">User</th>
			<th class="table__row-header">Delete</th>
		</tr>
	</thead>
	<tbody class="table__body" *ngFor="let user of users; let i = index; trackBy: trackUser">
		<tr class="table__row">
			<td class="table__row-data">{{user.id}}</td>
			<td class="table__row-data">{{user.name}}</td>
			<td class="table__row-data">{{user.email}}</td>
			<td class="table__row-data">{{user.role}}</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>moderator</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>user</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='warn' (click)="delete(user.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
