<h1 class="heading">Possible services</h1>

<mat-grid-list class="services-list" cols="2" rowHeight="2:1">
	<mat-grid-tile class="">
		<div class="services-list__name">Painting</div>
		<img class="services-list__image" mat-card-image
			src="https://media.istockphoto.com/photos/man-in-a-working-overall-picture-id1015387276?k=20&m=1015387276&s=612x612&w=0&h=Vf9r2_8HePzA-qPdeKGc4lqQvOHqQq6eIaE8iDdUaxU=">
	</mat-grid-tile>
	<mat-grid-tile>
		<div class="services-list__name">Laminate</div>
		<img class="services-list__image" mat-card-image
			src="https://cdn.vox-cdn.com/thumbor/zRTkT7cNQuXtLI9iqa-RzbI9PEY=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/20055485/_9_Palace_Plank_Stone_28402P_RS.jpg">
	</mat-grid-tile>
</mat-grid-list>
