<div class="container">
	<div class="container__row">
		<h1 class="container__heading">{{service?.serviceCategory.name}}</h1>
	</div>
	<div class="container__row">
		<div class="container__add-photo">
			<h2>Add Photos</h2>

			<!-- Drop photos -->
			<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropzoneOver}" (fileOver)="fileOverBase($event)"
				[uploader]="uploader" class="container__drop-photos">
				<i class="fa fa-upload fa-3x"></i>
				Drop photos here
			</div>

			<!-- Upload photos -->
			<div class="container__upload-photos">
				Multiple
				<input type="file" ng2FileSelect [uploader]="uploader" multiple class="custom-file-input" />

				Single
				<input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input" />
			</div>
		</div>

		<!-- Upload info -->
		<div class="container__upload-info" *ngIf="uploader?.queue?.length">

			<h3>Upload queue</h3>
			<p>Queue length: {{ uploader?.queue?.length }}</p>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of uploader.queue">
						<td><strong>{{ item?.file?.name }}</strong></td>
						<td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<div>
					Queue progress:
					<div class="progress">
						<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
						</div>
					</div>
				</div>
				<section>
					<div class="button-row">
						<button mat-raised-button color="primary" (click)="uploader.uploadAll()"
							[disabled]="!uploader.getNotUploadedItems().length">Upload all</button>
						<button mat-raised-button color="accent" (click)="uploader.cancelAll()"
							[disabled]="!uploader.isUploading">Cancel all</button>
						<button mat-raised-button color="warn" (click)="uploader.clearQueue()"
							[disabled]="!uploader.queue.length">Remove all</button>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!-- Service's images -->
	<div class="container__row container__images">
		<div class="container__image-wrapper" *ngFor="let photo of service?.photos">
			<img [src]="photo.url" [alt]="photo.url" class="img-thumbnail container__image">

			<div>
				<button mat-raised-button color="warn" (click)="deletePhoto(photo)">Delete</button>
			</div>
		</div>
	</div>
</div>
