<form class="login-form" #f="ngForm" (ngSubmit)="login(f.value)">
	<h2 class="login-form__heading">Login</h2>

	<div *ngIf="invalidLogin" class="invalid-login">
		Invalid username and/or password
	</div>

	<mat-form-field appearance="fill">
		<mat-label>Email address</mat-label>
		<input matInput placeholder="john@example.com" ngModel name="email" required />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required />
		<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
			[attr.aria-pressed]="hide">
			<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
		</button>
	</mat-form-field>

	<button mat-raised-button color="accent" id="login-form__button">Login</button>

	<div id="login-form__no-account">
		Don't have an account yet?
		<span id="login-form__regiser-now" routerLink="/register"><u>Register now</u></span>
	</div>
</form>
